*{
    background-color: lightskyblue;
}

html{
    align-items: center;
    border-radius: 10px;
}

h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form{
    text-align: center;
    

}

input{
    border-radius: 20px;
    padding: .5%;
    background-color: white;
}

.c{
    background-color: black;
    color: white;
}

.c:hover{
background-color: lightcoral ;
}